<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/uikit.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pace.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/studio.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/images/icons.svg}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Barra Navegação-->
<div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

<div class="uk-container">

    <div uk-grid="">
        <!--Breadcrumb-->
        <div uk-alert="">
            <div class="uk-width-1-1" >
                <h3 class="uk-heading-bullet">Negociação</h3>
            </div>

            <ul class="uk-breadcrumb uk-margin">
                <li><span>Dados Básico</span></li>
                <li><span class="uk-text-primary">Endereço</span></li>
                <li><span>Contato</span></li>
                <li><span>Plano</span></li>
                <li><span>Finalizar</span></li>
            </ul>
        </div>

        <div class="uk-width-expand">

        </div>
    </div>
</div>

</body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/materialize.js}"></script>-->
<script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/pace.js}"></script>
</html>