<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:data="http://www.thymeleaf.org/extras/data"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/uikit.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pace.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/studio.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/images/icons.svg}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<div th:fragment="endereco">


    <div class="uk-width-1-1">
        <div class="uk-card uk-card-default ">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid="">
                    <legend class="uk-legend">Endereço</legend>
                </div>
            </div>
            <div class="uk-card-body">
                <form method="POST" th:action="@{/detalhe/endereco/salvar}"
                      th:object="${endereco}">
                    <div th:replace="fragments/mensagemErroValidacao :: alerta"></div>

                    <input type="text" th:value="*{aluno.id}" th:field="*{aluno}"/>

                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Rua*" th:field="*{rua}"/>
                    </div>

                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Bairro*" th:field="*{bairro}"/>
                    </div>

                    <div class="uk-margin">
                        <input class="uk-input" type="text" placeholder="Número*" th:field="*{numero}"/>
                    </div>

                    <hr class="uk-divider-icon"/>
                    <div class="uk-align-right">
                        <button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
                        <button class="uk-button uk-button-primary" type="submit">Salvar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


</div>

</body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/materialize.js}"></script>-->
<script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/pace.js}"></script>
</html>