<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/uikit.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pace.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/studio.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/images/icons.svg}"/>

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<div th:fragment="barraNavegacao">
    <!--Barra Navegação-->
    <nav class="uk-navbar uk-navbar-container uk-margin uk-animation-slide-top-medium menu">
        <div class="uk-navbar-left">

            <div class="uk-inline">
                <a class="uk-navbar-toggle" type="button" uk-toggle="target: #menu">
                    <span uk-navbar-toggle-icon="" class="menu_texto"></span>
                    <span class="uk-margin-small-left menu_texto">Menu</span>
                </a>
            </div>
            <a class="uk-navbar-item uk-logo uk-navbar-center menu_texto" href="#">Logo</a>
        </div>
        <div class="uk-navbar-right">
            <a class="uk-navbar-toggle uk-navbar-right" href="#">
                <span class="uk-margin-small-left menu_texto">Sair </span>
                <span uk-icon="icon: sign-out" class="menu_texto"></span>
            </a>
        </div>
    </nav>

    <!--Menu-->
    <div id="menu" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar">
            <header>
                <h3 class="uk-text-primary">Studio Fisio Pilates</h3>
                <hr/>
            </header>

            <ul class="uk-nav uk-nav-default">
                <li class="uk-nav-header">Menu de Navegação</li>
                <li>
                    <a th:href="@{/aluno}">
                        <i class="uk-margin-small-right" uk-icon="icon: home"></i> Dashboard
                    </a>
                </li>
                <li class="uk-divider-icon"></li>

                <li>
                    <a th:href="@{/aluno}">
                        <i class="uk-margin-small-right" uk-icon="icon: table"></i>Alunos Ativos
                    </a>
                </li>
                <li>
                    <a th:href="@{/aluno}">
                        <i class="uk-margin-small-right" uk-icon="icon: table"></i>Alunos Inativos
                    </a>
                </li>
                <li class="uk-divider-icon"></li>
                <li>
                    <a th:href="@{/aluno}">
                        <i class="uk-margin-small-right" uk-icon="icon: table"></i>Caixa
                    </a>
                </li>
            </ul>

            <footer class="uk-position-bottom">
                <hr/>
                <div class="uk-text-right uk-margin-small-right uk-margin-small-bottom">
                    <a href="/logout"><span uk-icon="icon: sign-out; ratio:1.4"></span> Logout</a>
                </div>
            </footer>
        </div>
    </div>
</div>
<body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/pace.js}"></script>
</body>
</html>