<!DOCTYPE html>
<html lang="pt"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:data="http://www.w3.org/1999/xhtml">
<head>
    <link th:href="@{/favicon.ico}" rel="shortcut icon"/>
    <link th:href="@{http://fonts.googleapis.com/icon?family=Material+Icons}" rel="stylesheet"/>
    <!--<link type="text/css" rel="stylesheet" th:href="@{/css/materialize.css}" media="screen,projection"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/css/uikit.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/animate.min.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/pace.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/studio.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/images/icons.svg}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/meu.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<!--Barra Navegação-->
<div th:replace="fragments/barraNavegacao :: barraNavegacao"></div>

<div class="uk-container uk-margin-top animated fadeIn">
    <div class="uk-width-1-1">

        <div class="uk-card uk-card-default">
            <div class="uk-card-header">
                <div class="uk-grid-small uk-flex-middle" uk-grid="">
                    <div class="uk-width-expand">
                        <h3 class="uk-card-title uk-margin-remove-bottom">Cadastro de Aluno</h3>
                    </div>
                </div>
            </div>
            <div class="uk-card-body">
                <form method="POST" class="uk-card-body uk-grid-small" th:action="@{/aluno/salvar}"
                      th:object="${aluno}">

                    <legend class="uk-legend">Dados Básicos</legend>

                    <div th:unless="${#fields.detailedErrors().empty}">
                        <div th:replace="fragments/mensagemErroValidacao :: alerta"></div>
                    </div>

                    <div class="uk-margin" uk-grid="">
                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">Nome*</label>
                            <input class="uk-input" autofocus="autofocus" type="text" th:field="*{nome}"
                                   th:required="true"/>
                        </div>

                        <div class="uk-width-1-2@s">
                            <label class="uk-form-label">Sobrenome*</label>
                            <input class="uk-input" type="text" th:field="*{sobrenome}" th:required="true"/>
                        </div>
                    </div>
                    <div class="uk-margin" uk-grid="">
                        <div class="uk-width-1-4@s">
                            <label class="uk-form-label">Data Nascimento*</label>
                            <input class="uk-input" type="text" th:field="*{dataNascimento}"/>
                        </div>
                        <div class="uk-width-expand@s">
                            <label class="uk-form-label">Profissão</label>
                            <input class="uk-input" type="text" th:field="*{profissao}"/>
                        </div>
                        <div class="uk-width-1-4@s">
                            <label class="uk-form-label">Início das Aulas*</label>
                            <input class="uk-input" type="date" th:field="*{dataInicio}"/>
                        </div>
                    </div>
                    <div class="uk-margin" uk-grid="">
                        <div class="uk-width-1-2@s ">
                            <label class="uk-form-label">CPF*</label>
                            <input class="uk-input" type="text" th:field="*{cpf}" th:required="true"/>
                        </div>
                        <div class="uk-width-1-2@s ">
                            <label class="uk-form-label">RG</label>
                            <input class="uk-input" type="text" th:field="*{rg}"/>
                        </div>
                    </div>
                    <div class="uk-margin">
                        <label class="uk-form-label">Observação</label>
                        <textarea class="uk-textarea" rows="5" placeholder="Observação" th:field="*{observacao}"/>
                    </div>
                    <div class="uk-margin uk-grid-small uk-child-width-auto" uk-grid="">
                        <label class="uk-align-right">
                            <input class="uk-checkbox" type="checkbox" checked="" th:field="*{virarCliente}"/>
                            Negociaçao?
                        </label>
                    </div>
                    <hr class="uk-divider-icon"/>
                    <div class="uk-align-right">
                        <button class="uk-button uk-button-primary" type="submit">Salvar e Ativar</button>
                        <span uk-icon="icon: check"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments/footer :: footer"></div>

</body>
<script type="text/javascript" th:src="@{https://code.jquery.com/jquery-2.1.1.min.js}"></script>
<!--<script type="text/javascript" th:src="@{/js/materialize.js}"></script>-->
<script type="text/javascript" th:src="@{/js/uikit.min.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.js}"></script>
<script type="text/javascript" th:src="@{/js/pace.js}"></script>
</html>